<%= form_with(model: @blog, local: true) do |form| %>
  <% if @blog.errors.any? %>
    <div id="error_explanation">
      <ul class="row">
        <% @blog.errors.full_messages.each do |msg| %>
          <li class="col-xs-offset-2 col-sm-offset-3 col-md-offset-4"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row input-title">
    <%= form.label :title, class:'col-xs-1 col-xs-offset-2' %>
    <%= form.text_field :title, class:'col-xs-7 blog-input' %>
  </div>
  <div class="row input-content">
    <%= form.label :content, class:'col-xs-1 col-xs-offset-2' %>
    <%= form.text_field :content, class:'col-xs-7 blog-input' %>
  </div>
  <div class="field row input-content">
    <%= form.label :image, class:'col-xs-1 col-xs-offset-2' %>
    <%= form.file_field :image, id: :feed_image, class:'col-xs-7 blog-input' %>
    <%= form.hidden_field :image_cache %>
  </div>
  <div class="link-button">
    <%= form.submit "作成", class: 'btn btn-default' %>
  </div>
<% end %>
<div class="link-button">
  <%= link_to "一覧", blogs_path, class: 'btn btn-default' %>
</div>
